/* light-blue rgb(4,114,135) */

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 5px 40px 3px rgba(0, 0, 0, 1);
  z-index: 999;
  transition: top 0.5s ease-in-out;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  height: 60px;
}
.nav__ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__li {
  margin: 0 15px;
}

.nav__li > a {
  text-decoration: none;
  padding: 2px;
  color: white;
}
.nav__li > a:hover {
  border-bottom: 2px solid #e63946;
  cursor: url("/images/pointing-finger.png"), auto;
}

.material-symbols-outlined {
  opacity: 0;
  margin-right: 10px;
}

/* HERO SECTION ----------------------------------- */

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(./images/bg4.jpg);
  background-size: cover;
  color: white;
}

.hero__info {
  max-width: 500px;
  padding: 10px;
}
.hero__h1 {
  font-size: 3.8rem;
  margin-bottom: 15px;
}
.hero__subHeading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.hero__p {
  margin-bottom: 30px;
}
.hero__btn {
  padding: 10px 15px;
  background-color: #e63946;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
.hero__btn:hover {
  cursor: pointer;
  background-color: #9c1f2a;
  cursor: url("/images/pointing-finger.png"), auto;
}

.hero__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 5px;
}

/* ======== ABOUT ================================== */
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 130px 30px;
}
.about__img {
  height: 200px;
  border-radius: 50%;
  border: 2px solid #e63946;
  padding: 5px;
}
.about__info {
  margin-right: 30px;
  line-height: 35px;
  width: 100%;
}
.about__h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.about__p {
}
/* ======== PROJECTS ================================== */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 49, 61);
  color: white;
  width: 100%;
  padding: 60px 0;
}
.projects__header {
  font-size: 2.5rem;
  text-align: center;
  width: 90%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(133, 133, 133);
  margin-bottom: 30px;
}
.project {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  border-bottom: 1px solid rgb(133, 133, 133);
}
.project__img {
  height: 200px;
  width: 350px;
  object-fit: cover;
  background-color: black;
  margin: 20px 30px;
  transition: all 0.3s ease-in-out;
  /* transition-property: transform;
  transition-duration: 0.5s; */
  cursor: url("/images/pointing-finger.png"), auto;
}
.project__img:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 25px 1px black;
}
.project__info {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
}
.project__title {
  margin-bottom: 10px;
  color: #e63946;
}
.project__description {
  line-height: 25px;
}
/* ======== CONTACT ================================== */
/* #contact {
  padding: 60px 0;
  background-color: yellow;
  width: 100%;
  text-align: center;
} */
/* ======== FOOTER ================================== */

footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer__header {
  color: white;
}
.footer__logos {
  margin-bottom: 10px;
}
.footer__logos > a {
  text-decoration: none;
  height: fit-content;
}
.footer__logos > a > img {
  height: 32px;
  text-decoration: none;
}

.footer__logos > a > img:hover {
  transform: scale(1.1);
}
footer > p {
  font-size: 10px;
  color: white;
}

/* ============MEDIA QUERIES======================= */

@media (max-width: 640px) {
  .toggle {
    transform: translateX(500px);
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  header {
    justify-content: flex-end;
  }
  .nav {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 70%;
    margin: 0;
    background-color: #e63946;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .nav__ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
    padding: 0;
    width: 100%;
  }
  .nav__li {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .nav__li > a {
    display: block;
    width: 100%;
    padding: 15px;
  }
  .nav__li > a:hover {
    border: none;
    background-color: #9c1f2a;
  }
  .material-symbols-outlined {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .material-symbols-outlined:hover {
    cursor: pointer;
  }
  .hero__img {
    width: 120px;
    height: auto;
  }
  .hero__info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__h1 {
    font-size: 3rem;
  }
  .hero__p {
    text-align: center;
  }
  .material-symbols-outlined {
    opacity: 1;
    font-size: 40px !important;
  }

  /* ======== ABOUT ================================== */
  .about {
    flex-direction: column-reverse;
  }
  .about__img {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .about__info {
    padding: 0 40px;
  }
  .about__h2 {
    text-align: center;
  }
  /* ======== PROJECT ================================== */
  .project {
    flex-direction: column;
    align-items: center;
  }
  .project__img {
    margin-bottom: 40px;
  }
  .project__info {
    align-items: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
