/* light-blue rgb(4,114,135) */

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 5px 40px 3px rgba(0, 0, 0, 1);
  z-index: 999;
  transition: top 0.5s ease-in-out;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  height: 60px;
}
.nav__ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__li {
  margin: 0 15px;
}

.nav__li > a {
  text-decoration: none;
  padding: 2px;
  color: white;
}
.nav__li > a:hover {
  border-bottom: 2px solid;
  cursor: url("/images/pointing-finger.png"), auto;
}

.open-menu {
  opacity: 0;
  margin-right: 10px;
}
/* back to top----------------------------------- */

.back-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background-color: #e63946;
  padding: 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.back-to-top:hover {
  transform: scale(1.05);
}

.back-to-top-icon {
  color: rgb(219, 219, 219);
  font-size: 36px;
}

/* HERO SECTION ----------------------------------- */

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(./images/bg4.jpg);
  background-size: cover;
  color: white;
}

.hero__info {
  max-width: 500px;
  padding: 20px;
}
.hero__h1 {
  font-size: 3.8rem;
  margin-bottom: 15px;
}
.hero__subHeading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.hero__p {
  margin-bottom: 30px;
}

.button-container {
  display: flex;
}
.hero__btn {
  padding: 10px 15px;
  background-color: #e63946;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.hero__btn:hover {
  cursor: pointer;
  background-color: #9c1f2a;
  cursor: url("/images/pointing-finger.png"), auto;
}

.hero__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 5px;
}

/* ======== ABOUT ================================== */
.about {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  width: 100%;
}
.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 130px 30px;
}
.about__img {
  width: 200px;
  border-radius: 50%;
  border: 2px solid #e63946;
  padding: 5px;
}
.about__info {
  margin-right: 30px;
  line-height: 35px;
  width: 100%;
}
.about__h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.about__p {
}
/* ======== PROJECTS ================================== */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: white;
  width: 100%;
  padding: 60px 40px;
}
.projects__header {
  font-size: 2.5rem;
  text-align: center;
  width: 90%;
  padding-bottom: 20px;
  /* border-bottom: 1px solid rgb(133, 133, 133); */
  margin-bottom: 30px;
}
.project {
  display: flex;
  max-width: 810px;
  width: 100%;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: rgb(36, 36, 36);
  color: white;
  margin: 10px;
}
.project__img {
  height: 200px;
  width: 350px;
  object-fit: cover;
  background-color: black;
  display: block;
  /* margin: 20px 30px; */
  transition: all 0.3s ease-in-out;
  cursor: url("/images/pointing-finger.png"), auto;
}
.project__img:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 25px 1px black;
}
.project__info {
  display: flex;
  flex-direction: column;
  /* padding: 30px; */
  max-width: 350px;
  justify-content: center;
}
.project__title {
  margin-bottom: 10px;
  color: #ededed;
}
.project__description {
  line-height: 25px;
  margin-bottom: 10px;
}

.project__tech__icons {
  margin-bottom: 25px;
  display: flex;
  align-items: flex-end;
}

.project__tech__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(146, 146, 146);
  font-size: 10px;
}
.project__tech__icon > img,
.project__tech__icon > svg {
  height: 24px;
  width: 24px;
  margin: 0px 15px 2px 15px;
}

.project__btns > a {
  padding: 10px 15px;
  background-color: #e63946;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
  cursor: pointer;
}

.project__btns > a:hover {
  background-color: #9c1f2a;
}
/* ======== CONTACT ================================== */
#contact {
  padding: 60px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-container {
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  padding: 50px;
  color: rgb(194, 194, 194);
  max-width: 600px;
}
.contact-container > p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.contact-container > h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.contact-container > h5 {
  font-size: 1rem;
}
.contact-container > h5 > a {
  text-decoration: none;
  color: rgb(57, 130, 214);
}
.contact-linkedIn {
  margin-top: 20px;
  background-color: black;
  padding: 20px 20px;
  border-radius: 10px;
}
.contact-linkedIn-logo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: fit-content;
  color: rgb(57, 130, 214);
  text-decoration: none;
}

/* ======== FOOTER ================================== */

footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer__header {
  color: white;
}
.footer__logos {
  margin-bottom: 10px;
}
.footer__logos > a {
  text-decoration: none;
  height: fit-content;
}
.footer__logos > a > img {
  height: 32px;
  text-decoration: none;
}

.footer__logos > a > img:hover {
  transform: scale(1.1);
}
footer > p {
  font-size: 10px;
  color: white;
}

/* ============MEDIA QUERIES======================= */

@media (max-width: 700px) {
  .toggle {
    transform: translateX(500px);
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  header {
    justify-content: flex-end;
  }
  .nav {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 70%;
    margin: 0;
    background-color: #e63946;
    /* transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out; */
  }
  .nav__ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
    padding: 0;
    width: 100%;
  }
  .nav__li {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .nav__li > a {
    display: block;
    width: 100%;
    padding: 15px;
  }
  .nav__li > a:hover {
    border: none;
    background-color: #9c1f2a;
  }
  .close-menu {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu-icon:hover {
    cursor: pointer;
  }
  .hero__img {
    width: 120px;
    height: auto;
  }
  .hero__info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__h1 {
    font-size: 3rem;
  }
  .hero__p {
    text-align: center;
  }
  .menu-icon {
    opacity: 1;
    font-size: 40px !important;
  }

  /* ======== ABOUT ================================== */
  .about-container {
    flex-direction: column-reverse;
  }
  .about__img {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .about__info {
    padding: 0 40px;
    text-align: justify;
    margin-right: 0px;
  }
  .about__h2 {
    text-align: center;
  }
  /* ======== PROJECT ================================== */
  .project {
    flex-direction: column;
    align-items: center;
  }
  .project__img {
    margin-bottom: 20px;
  }
  .project__info {
    align-items: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  .project__img {
    width: 300px;
  }
  .project__info {
    width: 300px;
  }
}

/* ICONS ==================================== */
