/* light-blue rgb(4,114,135) */

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 5px 40px 3px rgba(0, 0, 0, 1);
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}
.nav__ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__li {
  margin: 0 15px;
}

.nav__li > a {
  text-decoration: none;
  padding: 2px;
  color: white;
}
.nav__li > a:hover {
  border-bottom: 2px solid #e63946;
  cursor: url("/images/pointing-finger.png"), auto;
}

.material-symbols-outlined {
  opacity: 0;
  margin-right: 10px;
}

/* HERO SECTION ----------------------------------- */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* padding: 30px; */
  background: url(./images/bg4.jpg);
  background-size: cover;
  color: white;
}

.hero__info {
  max-width: 500px;
  padding: 10px;
}
.hero__h1 {
  font-size: 3.8rem;
  margin-bottom: 15px;
}
.hero__subHeading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.hero__p {
  margin-bottom: 20px;
}
.hero__btn {
  border-radius: 25px;
  border: 1px solid #e63946;
  background-color: #e63946;
  color: white;
  font-size: 1rem;
  height: 40px;
  width: 150px;
  transition-property: transform;
  transition-duration: 0.5s;
}
.hero__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  cursor: url("/images/pointing-finger.png"), auto;
}

.hero__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 5px;
}

/* ======== ABOUT ================================== */
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 130px 30px;
}
.about__img {
  height: 200px;
  border-radius: 50%;
  border: 2px solid #e63946;
  padding: 5px;
}
.about__info {
  margin-right: 30px;
  line-height: 35px;
  width: 100%;
}
.about__h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.about__p {
}
/* ======== PROJECTS ================================== */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 49, 61);
  color: white;
  width: 100%;
  padding: 60px 0;
}
.project {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  border-bottom: 1px solid rgb(133, 133, 133);
}
.project__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-color: black;
  margin: 20px 30px;
  transition-property: transform;
  transition-duration: 0.5s;
  cursor: url("/images/pointing-finger.png"), auto;
}
.project__img:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 25px 5px black;
}
.project__info {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
}
.project__title {
  margin-bottom: 10px;
  color: #e63946;
}
.project__description {
  line-height: 25px;
}
/* ======== CONTACT ================================== */
.contact {
  padding: 60px 0;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 2px rgba(1, 1, 1, 0.2);
}
form h1 {
  margin-bottom: 10px;
}

form > label {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 15px;
  line-height: 25px;
}
form > label > input {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 8px;
}
input:focus {
  outline: 2px solid #e63946;
}
form > textarea {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}
textarea:focus {
  outline: 2px solid #e63946;
}
/* form > button {
  border-radius: 25px;
  border: 1px solid #e63946;
  background-color: #e63946;
  color: white;
  font-size: 1rem;
  height: 40px;
  width: 150px;
  cursor: pointer;
} */
/* ======== FOOTER ================================== */

footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

/* ============MEDIA QUERIES======================= */

@media (max-width: 640px) {
  .toggle {
    display: none;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  header {
    justify-content: flex-end;
  }
  .hero__img {
    width: 120px;
    height: auto;
  }
  .hero__info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__h1 {
    font-size: 3rem;
  }
  .hero__p {
    text-align: center;
  }
  .material-symbols-outlined {
    opacity: 1;
    font-size: 40px !important;
  }

  /* ======== ABOUT ================================== */
  .about {
    flex-direction: column-reverse;
  }
  .about__img {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .about__info {
    padding: 0 40px;
  }
  .about__h2 {
    text-align: center;
  }
  /* ======== PROJECT ================================== */
  .project {
    flex-direction: column;
    align-items: center;
  }
  .project__img {
    margin-bottom: 40px;
  }
  .project__info {
    align-items: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
